- var title = "duolc.info"
block vars

html
  head
    meta(charset='utf-8')
    title= title
    link(href='style.css', rel='stylesheet', type='text/css')
  body
    .navigation
      span: a(href='index.html') Unspoiled Nodes
      span: a(href='fishing.html') Fishing
      span: a(href='Planned.html') Planned Features
      span: a(href='changelog.html') Change Log
      span: a(href='https://docs.google.com/forms/d/1dopCqOp1ZOt6rDg7OjQPxulr9LrELCFVKeP83_5Ne30/viewform?embedded=true', target='_blank') Feedback
    div
      table.clock(align='center')
        tr
          td  Current Eorzea Time: 
          td: #e-time
    table(align='center', cellspacing='10px', height='172px')
      thead: tr
        td.nodetier.mnodes.mb
          label
            input#Mining(type='checkbox', checked='')
            span Mining Nodes
        td
        td.nodetier.bnodes.bb
          label
            input#Botany(type='checkbox', checked='')
            span Botany Nodes
      tbody: tr
        td(width='300px')
          .h1.mslide
            label(for='minelvl') Mining Level:  
            output#mngatherlvl(for='minelvl') 450
            p: input#minelvl.minbar(type='range', min='300', max='500', value='450', step='1', oninput='outputMineUpdate(value)')
        td
        td(width='300px')
          .h1.bslide
            label(for='botlvl') Botany Level:  
            output#btgatherlvl(for='botlvl') 450
            p: input#botlvl.botbar(type='range', min='300', max='500', value='450', step='1', oninput='outputBotUpdate(value)')
    #unspoilednodeslist(stype='align:center') LOADING...
    .version Version 1.5 - April 2, 2015
    .btt(align='center', margin-top='8px')
      a(href='#top') Go to top
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/3.0.1/handlebars.js')
    script(type='text/javascript', src='functions.js')
    script#nodesTable(type='text/x-handlebars-template').
      <table id="minebottable" class="maintable sortable">
      <thead bgcolor="#D2D2D2">
      <th width="97" height="25px" scope="col">Type</th>
      <th width="242" scope="col">Item</th>
      <th width="84" scope="col">Slot</th>
      <th width="220" scope="col">Spawn Time</th>
      <th width="326" scope="col">Zone</th>
      <th width="300" scope="col">Region</th>
      <th width="300" scope="col">Closest Aetheryte</th>
      <th width="264" scope="col">Min Gathering</th>
      <th width="404" scope="col">Min Perception for HQ</th>
      </thead>
      <tbody>
      {{#each nodes}}
      <tr>
      <td>{{Type}}</td>
      <td>{{Item}}</td>
      <td>{{Slot}}</td>
      <td>{{SpawnTime}}</td>
      <td>{{Zone}}</td>
      <td>{{Region}}</td>
      <td>{{ClosestAetheryte}}</td>
      <td>{{MinGathering}}</td>
      <td>{{MinPerceptionforHQ}}</td>
      </tr>
      {{/each}}
      </tbody>
      </table>
