@charset "utf-8";
/* CSS Document */
/*Built For UnspoiledNodes
By: Duolc
V-1.0*/

/* Force Scroll Bar to Show and then style it accordingly */
html {
	overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.9);
    border-radius: 6px;
}

::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.7);
	border-radius: 6px;
}

/* General Styling Goes Here */
body {
	background-color: #212121;
}

.h1 {
	font-family:Impact, Charcoal, sans-serif;
	padding-top: 1%;
	color: white;
	opacity: .7;
	text-align: center;
	font-size: 26px;
	text-decoration: underline;
}

.h2 {
	font-family:Impact, Charcoal, sans-serif;
	padding-top: 5%;
	color: white;
	opacity: .7;
	text-align: center;
	font-size: 20px;
}

.planned {
	color: white;
}

.version {
	color: gray;
	text-align: center;
	padding-top: 15px;
}

.roundedimg {
	border:0px solid;
	border-radius: 25px;
	overflow: hidden;
	box-shadow:0 0 25px #000;
}

.cntrimg {
	display:block;
	margin-left: auto;
    margin-right: auto;
}

/*These are the Selector Buttons*/
.mnodes {
	background-color:#4E342E;
	color: #D7CCC8;
}

.bnodes	{
	background-color:#597A41;
}

.fnodes {
	background-color:#003366;
	color: #D7CCC8;
}

.fishinghole {
    padding:5px;
    width:100px;
}

.description {
    display:none;
    position:absolute;
    border:1px solid #000;
	background:white;

}

/* For Removal Next Version if nothing breaks

.nodetype {
	padding: 5px;
	font-size: 20px;

}*/

.nodetier {
	margin:4px;
	background-color:#2E2E2E;
	border-radius:5px;
	border:1px solid #D0D0D0;
	overflow:auto;
	float:left;
	width:175px;
	color: white;
}

.weatherbutton {
	margin:4px;
	background-color:#2E2E2E;
	border-radius:5px;
	border:1px solid #D0D0D0;
	overflow:auto;
	float:left;
	width:175px;
	color: white;
}

 /* The Styling for the Clock and Clock Label */
.clock {
	font-family:Impact, Charcoal, sans-serif;
	font-size:50px;
	text-align: center;
	color:#FFF;
	opacity:.75;
	padding-top: 5px;
}

/*Table Style*/

th, td {
	padding: 2px;
}

.maintable {
	font-size:16px;
	padding: 1px;
	border:5px solid rgba(14,14,14,0.46);
	position: relative;
	float: left;
	margin-left:5%;
	margin-right:5%;
}

/* Select Botany Button */
.bb {
	margin:4px;
    background-color:#597A41;
    border-radius:5px;
    border:1px solid #D0D0D0;
    overflow:auto;
    float:left;
}

/* Select Mining Button */
.mb {
	margin:4px;
    background-color:#4E342E;
    border-radius:5px;
    border:1px solid #D0D0D0;
    overflow:auto;
    float:left;
}

/* Show/Hide Mooch Button */
.mooch {
	margin:4px;
    background-color:#003366;
    border-radius:5px;
    border:1px solid #D0D0D0;
    overflow:auto;
    float:left;
}

/* Style Checkboxes to appear as buttons */
.bb:hover, .mb:hover, .fb:hover, .nodetier:hover, .weatherbutton:hover{
  	background:white;
	color:black;
	box-shadow:inset 0 0 15px #000;
}

.bb label span, .mb label span, .fb label span, .weatherbutton label span {
  	text-align:center;
  	padding:5px 75px;
	display:block;
}

.nodetier label span {
		display:block;
		text-align:center;
		padding:5px;
}

/*Give Checked Buttons an innerglow*/
.bb input:checked + span, .weatherbutton input:checked + span, .mb input:checked + span, .fb input:checked + span, .nodetier input:checked + span {
		box-shadow:inset 0 0 15px #FFF;
}

/*Hides Checkbox totally */
.bb label input , .mb label input, .fb label input, .nodetier label input, .weatherbutton label input{
    position:absolute;
    top:-20px;
}

/* Show the Sort Buttons on Table Headers at all times Looks weird without them always on*/
table.sortable th:not(.sorttable_sorted):not(.sorttable_sorted_reverse):not(.sorttable_nosort):after {
    content: " \25B4\25BE" ;
}

/* Navigation Menu */
.navigation {
		padding: 10px;
		border-color: rgba(255, 255, 255, 0.2);
		border-style: double none double none;
		margin-right: 10%;
		margin-left: 10%;
}

.navigation span {
	margin-right: 20px;
}

.navigation a, .btt a {
		font-family: Arial Narrow,Arial,sans-serif;
		text-align: center;
		font-size: 18px;
		color:rgba(255, 255, 255, 0.7);
		text-decoration: none;
		padding: 15px;
}

.navigation a:hover, .btt a:hover {
		text-shadow:0px 0px 10px #000;
		background-color:rgba(255, 255, 255, 0.7);
		color: black;
		border-radius: 25px;
		padding: 5px 15px 5px 15px;
}

.btt{
	margin: 2%;
}
/*Style For SlideBar On Fishing Page */

.fshbar {
  -webkit-appearance: none;
  margin: 18px 0;
  width: 30%;
}
.fshbar:focus {
  outline: none;
}
.fshbar::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #003366;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
.fshbar::-webkit-slider-thumb {
  /* box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; */
  /* border: 1px solid #000000; */
  height: 32px;
  width: 32px;
  /* border-radius: 3px; */
  background-image:url('http://duolc.dyndns-server.com:8080/STAGE/Images/Fisher_Icon_8.png');
  /* background: #ffffff; */
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -14px;
}
.fshbar:focus::-webkit-slider-runnable-track {
  background: rgba(0, 54, 101, 0.91);
}
.fshbar::-moz-range-track {
  width: 50%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
.fshbar::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
.fshbar::-ms-track {
  width: 50%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
.fshbar::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
.fshbar::-ms-fill-upper {
  background: #3071a9;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
.fshbar::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
.fshbar:focus::-ms-fill-lower {
  background: #3071a9;
}
.fshbar:focus::-ms-fill-upper {
  background: #367ebd;
}
/*Style For Mining SlideBar On Main Page */

.minbar {
  -webkit-appearance: none;
  margin: 18px 0;
  width: 100%;
}
.minbar:focus {
  outline: none;
}
.minbar::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #4E342E;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
.minbar::-webkit-slider-thumb {
  /* box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; */
  /* border: 1px solid #000000; */
  height: 32px;
  width: 32px;
  /* border-radius: 3px; */
  background-image:url('http://duolc.dyndns-server.com:8080/STAGE/Images/Miner_Icon_8.png');
  /* background: #ffffff; */
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -14px;
}
.minbar:focus::-webkit-slider-runnable-track {
  background: #4E342E;
}
.minbar::-moz-range-track {
  width: 50%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #4E342E;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
.minbar::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
.minbar::-ms-track {
  width: 50%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
.minbar::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
.minbar::-ms-fill-upper {
  background: #3071a9;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
.minbar::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
.minbar:focus::-ms-fill-lower {
  background: #3071a9;
}
.minbar:focus::-ms-fill-upper {
  background: #367ebd;
}


/*Style For Botany SlideBar On Main Page */

.botbar {
  -webkit-appearance: none;
  margin: 18px 0;
  width: 100%;
}
.botbar:focus {
  outline: none;
}
.botbar::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #597A41;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
.botbar::-webkit-slider-thumb {
  /* box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; */
  /* border: 1px solid #000000; */
  height: 32px;
  width: 32px;
  /* border-radius: 3px; */
  background-image:url('http://duolc.dyndns-server.com:8080/STAGE/Images/Botanist_Icon_8.png');
  /* background: #ffffff; */
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -14px;
}
.botbar:focus::-webkit-slider-runnable-track {
  background: #597A41;
}
.botbar::-moz-range-track {
  width: 50%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
.botbar::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
.botbar::-ms-track {
  width: 50%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
.botbar::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
.botbar::-ms-fill-upper {
  background: #3071a9;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
.botbar::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
.botbar:focus::-ms-fill-lower {
  background: #3071a9;
}
.botbar:focus::-ms-fill-upper {
  background: #367ebd;
}

/*Sorting Style*/

table.tablesorter thead tr .header {
	background-image: url(Images/bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}

table.tablesorter thead tr .headerSortUp {
	background-image: url(Images/asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(Images/desc.gif);
}

table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
background-color: #8dbdd8;
}
